<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# pass through requests to index
RewriteRule ^index\.php$ - [L]

# ensure any non-file URL ends with a slash so that
# relative URLs resolve correctly.
# there is probably a better way to do this. :(
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d [OR]
RewriteCond %{DOCUMENT_ROOT}/content%{REQUEST_URI} -d
RewriteRule (.*)[^\/]$ $0/ [R=301,L]

# check to see if a file under /content/ matches. 
# if so, deliver that. we do not allow directory listings--
# those will be handled by the app router.
RewriteCond %{DOCUMENT_ROOT}/content/$1 -f [OR]
RewriteCond %{DOCUMENT_ROOT}/content/$1/index.php -f [OR]
RewriteCond %{DOCUMENT_ROOT}/content/$1/index.html -f
# todo: what this really wants to be is "does the app router not handle it?" 
# which isn't possible. :(. for now, this prevents a dir request from showing 
# its index.html or index.php.
RewriteCond %{DOCUMENT_ROOT}/content/$1 !-d
RewriteRule ^(.*)$ /content/$1 [L,QSA]

# otherwise, if the bare request is neither file
# nor directory, rewrite to index and let the app 
# router handle it.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]


</IfModule>
