<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# pass through requests to index
RewriteRule ^index\.php$ - [L]

# check to see if a file under /content/ matches. 
# if so, deliver that. we do not allow directory listings--
# those will be handled by the app router.
RewriteCond %{DOCUMENT_ROOT}/content/$1 -f [OR]
RewriteCond %{DOCUMENT_ROOT}/content/$1/index.php -f [OR]
RewriteCond %{DOCUMENT_ROOT}/content/$1/index.html -f
RewriteCond %{DOCUMENT_ROOT}/content/$1 !-d
RewriteRule ^(.*)$ /content/$1 [L,QSA]

# otherwise, if the bare request is neither file
# nor directory, rewrite to index and let the app 
# router handle it.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]


</IfModule>
