
.jumbotron {
	background: rgb(184,198,223); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(184,198,223,1) 0%, rgba(144,158,181,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,198,223,1)), color-stop(100%,rgba(144,158,181,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(184,198,223,1) 0%,rgba(144,158,181,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(184,198,223,1) 0%,rgba(144,158,181,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(184,198,223,1) 0%,rgba(144,158,181,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(184,198,223,1) 0%,rgba(144,158,181,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#909eb5',GradientType=0 ); /* IE6-9 */



	
	color:white;
	padding:60px 30px 30px 20px;
	margin-bottom:3em;
	text-shadow:0px 1px 3px rgba(0 ,0 ,0 ,0.5);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
}

.nav li.active a {
	background-color:@link-blue;
	color:white;
	
	&:hover {
		background-color:gray;
		color:white;
	}
}

section {
	padding-top:3em;
	
	&.first {
		padding-top:0;
	}
}

code {
	color:#222;
}

.container-tag {
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px 12px 8px;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #ddd;
	color: #9da0a4;
	border-radius: 4px 0 4px 0;
	border-top:none;
	border-left:none;
}
.container-tag-tab {
	.container-tag;
	border-left:1px solid #ddd;
	border-top:1px solid #ddd;
	border-radius:4px;
	padding:10px;
}

.ace_scroller {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.non-editable .ace_scroller {
	box-shadow: none;
}

.code-container {
	overflow:hidden;
	position:relative;
	padding:1em; 
	border:1px solid #ccc;
	box-shadow:inset 0 3px 5px #ccc;
}

.live-exercise, .live-example {
	overflow:hidden;
	background:#eee;
	border-radius:10px;
	padding-top: 3em;
	padding-bottom:1em;
	position:relative;
		
	&:after {
		content:"Exercise";
		.container-tag;
	}
	
	.exercise-switcher {
		margin-bottom:1em;
	}
	.code-container {
		border:none;
		box-shadow:none;
		padding:0;
	}
}
	
.live-example:after {
	content:"Example";
}
	
	
button.eval, button.php-run, button.karel-run, button.karel-reset {
	display:block;
	float:right;
	margin:1em .5em 0 0;
}


.answer-container {
	position:relative;
	border-radius:5px;
	min-height:40px;
	margin:1em 0;
	transition: background-color 1s;
	
	&:after {
		content: "Show Answer";
		.container-tag-tab;
		background-color:#fff;
	}
	&.revealed {
		background-color:#eee;
		&:after {
			content: "Hide Answer";
			.container-tag-tab;
		}
	}
	&> * {
		display:none;
	}
	p {
		padding:.5em;
		margin-left:110px;
	}
}

.sample-solution-link {
	border-radius:5px;
	background-color:#eee;
	padding:4px;
	margin: 10px 0;
	
	a {
		font-weight:bold;
	}
	
}

#sidebar-nav {
	width:258px;
	&.affixed {
		position:fixed;
		top:80px;
	}
}
figure, .live-exercise, .live-example, blockquote {
	margin-top: 3em;
	margin-bottom: 3em;
	
	&.first {
		margin-top:0;
	}
}
figcaption {
	font-size:12px;
	font-style:italic;
	text-align:center;
}

dfn {
	background-color:#aaee99;
	border-radius:2px;
	padding:0 4px;
}

.data-flow-diagram {
	overflow:hidden;
	margin-right:1em;
	margin-left:1em;
	padding:10px;
	li {
		list-style:none;
		float:left;
		font-size:14px;
		border-radius:4px;
		background:#666;
		color:white;
		padding:4px;
		box-shadow:0 2px 3px rgba(0, 0, 0, 0.5);
		
		i {
			color:white;
			margin-right:4px;
		}
		
		&.pipe {
			margin:0 10px;
			width:1em;
			height:1em;
			background:white;
			color:#888;
			box-shadow:none;
			
			i {
				color:#888;
			}
		}
		
		&.highlight {
			background:#ee9900;
		}
	}
}

.jumbotron {
	background-image:url(../img/gears-long.png);
	color:#eee;
	text-shadow:0 3px 5px #000;
}

.jumbotron a {
	color:#fff
}

.jumbotron a:hover {
	color:lighten(#428bca, 25%);
}

.jumbotron.homepage {
	background-image:url(../img/hero-bg.png);
}

.color-highlight {
	color: #ED8600;
}

a:hover {
	text-decoration:none;
}

* > section:first-child {
	padding-top:0;
}

footer {
	margin-top:2em;
	padding:1em 0;
	
	&.footer-inverse {
		color:#999;
		background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
		background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		background-repeat: repeat-x;
		
		a {
			&:hover {
				color:#eee;
			}
		}
	}

	
	p {
		margin-bottom:0
	}
}

.diagram {
	font-size:1.5em;

	figcaption {
		font-size:.7em;
		color:#555;
	}
}


.img-attribution {
	font-size:.8em;
}

.token {
	font-family: 'Consolas', 'source-code-pro', monospace !important;
	&.tag {
		color:#77BAA3;
		&.inverse { background:#77BAA3 }
	}
	&.css {
		color:#8677BA;
		&.inverse { background:#8677BA }
	}
	&.attribute {
		color:#B377BA;
		&.inverse { background:#B377BA }
	}
	&.selector {
		color:#77BAA7;
		&.inverse { background:#77BAA7 }
	}
	&.css-property {
		color:#F2C457;
		&.inverse { background:#F2C457 }
	}
	&.css-value {
		color:#50D985;
		&.inverse { background:#50D985 }
	}
	&.keyword {
		color:#50D985;
		&.inverse { background:#50D985 }
	}

	&.inverse {
		color:white;
		border-radius:0.3em;
	}
}

// explicit overrides for deck blahs
body.deck .deck-style-container {
	blockquote {
		p {
			margin-bottom:.8em;
		}
	}
	.live-exercise, .live-example {
		padding-top:2em;
	}
}

img.article-img.center {
	width:80%; 
	margin:3em auto;
	display:block;
}

dl.interface-definition {
	padding-left:20px;

	dt {
		font-weight:normal;
		
		span.return-type {
			color:green;
		}
		span.argument-name {
			color:#775544;
		}
	}
	
	dd {
		margin-bottom:1em;
	}
}